.container {
    height: fit-content;
    width: 50%;
    z-index: 1;
}

.dropdown {
    height: 100%;
}
.dropdownToggle {

    padding: 0;
    margin: 0;
}

.dropdownSelection {
    height: fit-content;
}
.dropdownOption {
    color: black;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid black;
}

.selectedDropdown {
    color: black;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid black;
}

p {
    font-size: 16px;
}