.container {
    width: 50%;
    z-index: 1;
}

.dropdownToggle {
    padding: 0;
    margin: 0;

}

.dropdownOption {
    color: black;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid black;
}

.selectedDropdown {
    color: black;
    background-color: rgb(211, 211, 211);
    border-bottom: 1px solid black;
}

p {
    font-size: 16px;
}